<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.piroegg.auctiontracker.recheck</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/piroegg/yahoo-auction-tracker/venv/bin/python3</string>
        <string>/Users/piroegg/yahoo-auction-tracker/main.py</string>
        <string>all</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/piroegg/yahoo-auction-tracker</string>
    <key>StartCalendarInterval</key>
    <array>
        <dict>
            <key>Hour</key>
            <integer>12</integer>
            <key>Minute</key>
            <integer>0</integer>
        </dict>
        <dict>
            <key>Hour</key>
            <integer>19</integer>
            <key>Minute</key>
            <integer>0</integer>
        </dict>
        <dict>
            <key>Hour</key>
            <integer>22</integer>
            <key>Minute</key>
            <integer>30</integer>
        </dict>
    </array>
    <key>StandardOutPath</key>
    <string>/Users/piroegg/yahoo-auction-tracker/data/launchd.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/piroegg/yahoo-auction-tracker/data/launchd.err.log</string>
</dict>
</plist>
