<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.piroegg.auctiontracker.webapp</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/piroegg/yahoo-auction-tracker/venv/bin/python3</string>
        <string>-m</string>
        <string>src.webapp</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/piroegg/yahoo-auction-tracker</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/piroegg/yahoo-auction-tracker/data/webapp.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/piroegg/yahoo-auction-tracker/data/webapp.err.log</string>
</dict>
</plist>
